body {
    background-image: url("../assets/ugly_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Comic Sans MS";
    margin: 3em;
}

h1 {
    color: aqua;
}

#nav_bar {
    text-align: center;
    background-color: red;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: center;
}

#title {
    text-align: center;
    margin-bottom: 3em;
}

#skills{
    background-color: black;
    color: yellow;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#skills > h2{
    text-align: center;
}

#image{
    width: 250px;
    height: 450px;
}

#middle{
    background-color: black;
    width: 80%;
}

#history{
    color: rgb(155, 106, 106);
    padding: 0 2em 2em 2em;
}

#services{
    color: rgb(155, 106, 106);
    padding: 2em;
    padding: 0 2em 2em 2em;
}

span{
    padding: 14px 16px;
    color: white;
}

.flex-container {
    margin-top: 2em;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

p{
    background-color: black;
}